name: Docker build
on:
  push:
    branches: [ master ]
permissions:
  contents: read
  security-events: write
jobs:
  build:
    name: docker build and trivy scan workflow
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push
      run: |
        TAG=${{ github.sha }}
        docker build -t aravind1843/portfolio:$TAG .
        docker push aravind1843/portfolio:$TAG
    
    - name: Update K8s manifest
      run: |
        TAG=${{ github.sha }}
        git clone https://github.com/aravindpolepeddi/portfolio-k8s-manifests.git
        cd portfolio-k8s-manifests
        sed -i "s|image: aravind1843/portfolio:.*|image: aravind1843/portfolio:$TAG|" deployment.yaml
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git add deployment.yaml
        git commit -m "update image to $TAG"
        git push https://${{ secrets.PAT_TOKEN_GITOPS }}@github.com/aravindpolepeddi/portfolio-k8s-manifests.git main
    
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: aravind1843/portfolio:${{ github.sha }}
        format: 'sarif'
        output: 'trivy-results.sarif'
        severity: 'CRITICAL,HIGH'

    - name: Upload Trivy results to GitHub Security
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: 'trivy-results.sarif'
    
    - name: Trivy security gate
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: aravind1843/portfolio:${{ github.sha }}
        format: 'table'
        exit-code: '1'
        severity: 'CRITICAL,HIGH'

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install Python dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Python Script
      env:
        ANTHROPIC_API_KEY: ${{ secrets.AI_AUTO_REMEDIATION_TRIVY }} 
      run: python scripts/Claude_Security_scan.py